/**
 *  Panels Variables
 *	Author: Scott Thrall
 *	Created March 2016
 *  Last Revision: N/A
 */

// structure

// animation
$transition-time: 0.22s;
$transition-type: ease-in-out;

// colors
$background-color: $color-primary;
$text-color: $color-light;
